*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:  'Lobster', cursive;
    src: url(../fonts/Lobster-Regular.ttf);
}

body {
    background-color: #EEEEEE;
}


.container{
    width:960px;
    background-color: darkgray; 
    margin: 0 auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background-color: #f2f2f2;
    
}


.header{
    width: auto;
}

.header-top{
 width: auto;
   height: 80px;
}
.header-logo{
    width: 430px;
    height: 80px;
    float: left;
    background: #FFFFFF
}
.header-logo img{
    width: 265px;
}

.header-nav{
    height: 80px;
    width: 530px;
    float: right;
    background: #d4c3c3   
}


.header-nav ul{
    list-style: none;
    float: right;
}
.header-nav ul li{
    float: left;   
}


.header-nav ul li a{
    display: block;
    text-decoration: none;
    padding:31px;
    text-align: center;
}

.header-nav ul li a:hover{
background-color: aliceblue;
color: brown;
}

/*css comment*/
.slideshow{
    width: auto;
}

.content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.footer{
    position: relative;
    left: 0;
    bottom:0px;
    width: auto;
    height: 80px; 
}
.footer p{
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 12px;
}
